{% extends 'layout.html' %}

{% block body %}
    <div class="main">
        <div class="nav">
            <span id="current-location"></span>
            <ul>
                <li class="nav-items">Home</li>
                <li class="nav-items">About</li>
                <li class="nav-items">Donate</li>
                <li class="nav-items">Signup</li>
                <li class="nav-items">login</li>
            </ul>
        </div>
        <div class="landing">
            <div>
                <h4 class="greetings">Hello, {{ name }}</h4>
            </div> 
            <form method="POST">
                <input type="text" name="name">
                <select name="sport" type="radio">
                    <option disabled selected value="Football">Select your sport</option>
                    {% for sport in sports %}
                    <option value="{{sport}}">{{sport}} </option>
                    {% endfor %}

                </select>
                <button type="Submit">Submit</button>
            </form>
            
        </div>
    </div>
 {% endblock %}
